{% include "header.html" %}


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/static/img/developer-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Professional portfolio</h1>
            <span class="subheading">A collection of random musings. Website made in Python-Flask</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="container">
      <h1 class="heading">My professional portafolio</h1>
      <p class="description">These are my most important Python Projects</p>
      {% for project in projects: %} 
        <div class="card" >
          <div class="front" style="background-image: url('https://www.shortlist.com/media/images/2019/05/the-30-coolest-alternative-movie-posters-ever-2-1556670563-K61a-column-width-inline.jpg');">
              <p class="large">{{ project.id }}</p>
          </div>
          <div class="back">
            <div>
          <div class="title">Drive <span class="release_date">(2011)</span></div>
              <div class="rating">
                  <label>7.5</label>
                <i class="fas fa-star star"></i>
              </div>
              <p><a href="{{project.url}}">{{project.url}}</a></p>
              <p class="overview">
                  {{ project.description }}
              </p>
      
              <a href="#" class="button">Update</a>
              <a href="#" class="button delete-button">Delete</a>
      
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="container text-center add">
    <a href="{{ url_for('add')}}" class="button">Add Project</a>
    </div>
  </div>
  <hr>

{% include "footer.html" %}